# Case Exercises

<hr style="border:2px solid gray">

1. Write a query that returns all employees, their department number, their start date, their end date, and a new column 'is_current_employee' that is a 1 if the employee is still with the company and 0 if not. DO NOT WORRY ABOUT DUPLICATE EMPLOYEES.

2. Write a query that returns all employee names (previous and current), and a new column 'alpha_group' that returns 'A-H', 'I-Q', or 'R-Z' depending on the first letter of their last name.

3. How many employees (current or previous) were born in each decade?

4. What is the current average salary for each of the following department groups: R&D, Sales & Marketing, Prod & QM, Finance & HR, Customer Service?

<hr style="border:1px solid black">
<hr style="border:1px solid black">

<b>1. Write a query that returns all employees, their department number, their start date, their end date, and a new column 'is_current_employee' that is a 1 if the employee is still with the company and 0 if not. DO NOT WORRY ABOUT DUPLICATE EMPLOYEES.

In [ ]:
#using case
SELECT 
    emp_no, 
    dept_no, 
    from_date AS start_date, 
    to_date AS end_date,
        CASE 
            WHEN to_date > NOW() THEN 1 
            ELSE 0 
        END AS is_current_employee
    FROM dept_emp;

In [ ]:
#using 'if' instead of 'case'
SELECT 
    emp_no, 
    dept_no, 
    from_date AS start_date, 
    to_date AS end_date,
        IF(to_date > NOW(),1,0) AS is_current_employee
    FROM dept_emp;

<hr style="border:0.5px solid grey">

<b>2. Write a query that returns all employee names (previous and current), and a new column 'alpha_group' that returns 'A-H', 'I-Q', or 'R-Z' depending on the first letter of their last name.

In [ ]:
SELECT
    first_name,
    last_name,
    LEFT(last_name, 1) AS first_letter_of_last_name,
    CASE
        WHEN LEFT(last_name, 1) <= 'H' THEN 'A-H'
        WHEN SUBSTR(last_name, 1, 1) <= 'Q' THEN 'I-Q'
        WHEN LEFT(last_name, 1) <= 'Z' THEN 'R-Z'
        ELSE 'other'
    END AS alpha_group
FROM employees;

In [ ]:
#another way
SELECT last_name,
    LEFT(last_name, 1) AS first_letter_of_last_name,
    CASE
        WHEN last_name BETWEEN 'a%' AND 'i%' THEN 'A_H_last_name'
        WHEN last_name BETWEEN 'i%'AND 'r%' THEN 'I_Q_last_name'
        WHEN last_name BETWEEN 'r%' AND 'zz%' THEN 'R-Z_last_name'
        ELSE 'other'
    END AS alpha_group
FROM employees;

In [ ]:
#another way
SELECT last_name,
    CASE
        WHEN substr(last_name, 1,1) BETWEEN 'a' AND 'h' THEN 'A_H_last_name'
        WHEN substr(last_name, 1,1) BETWEEN 'i'AND 'q' THEN 'I_Q_last_name'
        WHEN substr(last_name, 1,1) BETWEEN 'r' AND 'z' THEN 'R-Z_last_name'
        ELSE 'other'
    END AS alpha_group
FROM employees;

<hr style="border:0.5px solid grey">

<b>3. How many employees (current or previous) were born in each decade?

In [ ]:
SELECT
    COUNT(CASE WHEN birth_date LIKE '195%' THEN birth_date ELSE NULL END) AS '50s',
    COUNT(CASE WHEN birth_date LIKE '196%' THEN birth_date ELSE NULL END) AS '60s'
FROM employees;

In [ ]:
#another way
SELECT 
    CASE
        WHEN birth_date LIKE '195%' THEN 'born_in_1950s'
        WHEN birth_date LIKE '196%' THEN 'born_in_1960s'
        ELSE 'other'
        END AS employees_born_per_decade,
    count(*) AS count_per_decade
    FROM employees
    GROUP BY employees_born_per_decade
    ORDER BY count_per_decade;

In [ ]:
#another way not using case
SELECT
    CONCAT(SUBSTR(birth_date, 1, 3), '0') as decade,
    COUNT(*)
FROM employees
GROUP BY decade;

<b>Answer</b>:
- 117,138 born in 1960s
- 182,886 born in 1950s

<hr style="border:0.5px solid grey">

<b>4. What is the current average salary for each of the following department groups: R&D, Sales & Marketing, Prod & QM, Finance & HR, Customer Service?

In [ ]:
SELECT
    CASE
        WHEN d.dept_name IN ('Research', 'Development') THEN 'R&D'
        WHEN d.dept_name IN ('Sales', 'Marketing') THEN 'Sales & Marketing'
        WHEN d.dept_name IN ('Production', 'Quality Management') THEN 'Prod & QM'
        WHEN d.dept_name IN ('Finance', 'Human Resources') THEN 'Finanace & HR'
        ELSE d.dept_name
    END AS dept_group, salary
FROM departments d
    JOIN dept_emp de USING (dept_no)
    JOIN salaries s USING (emp_no)
WHERE s.to_date > NOW() AND de.to_date > NOW();

In [ ]:
SELECT ROUND(AVG(salary),2) AS average_salary,
    CASE 
        WHEN dept_name IN ('research', 'development') THEN 'R&D'
        WHEN dept_name IN ('sales', 'marketing') THEN 'Sales & Marketing' 
        WHEN dept_name IN ('Production', 'Quality Management') THEN 'Prod & QM'
        WHEN dept_name IN ('Customer Service') THEN 'Customer Service' 
        WHEN dept_name IN ('Finance', 'Human Resources') THEN 'Finance & HR'
        ELSE dept_name
    END AS dept_group

FROM departments
    JOIN dept_emp USING (dept_no)
    JOIN employees USING (emp_no)
    JOIN salaries USING (emp_no)

GROUP BY dept_name
ORDER BY average_salary DESC;

<hr style="border:0.5px solid grey">

<b>Bonus: Remove duplicate employees from exercise 1.