# Database and Tables Exercises

<hr style="border:2px solid gray">

Questions 1 & 2 should be completed:
1. Open MySQL Workbench and login to the database server
2. Save your work in a file named db_tables_exercises.sql

Questions 3-15:

3. List all the databases
4. Write the SQL code necessary to use the albums_db database
5. Show the currently selected database
6. List all tables in the database
7. Write the SQL code to switch the employees database
8. Show the currently selected database
9. List all the tables in the database
10. Explore the employees table. What different data types are present on this table?
11. Which table(s) do you think contain a numeric type column? (Write this question and your answer in a comment)
12. Which table(s) do you think contain a string type column? (Write this question and your answer in a comment)
13. Which table(s) do you think contain a date type column? (Write this question and your answer in a comment)
14. What is the relationship between the employees and the departments tables? (Write this question and your answer in a comment)
15. Show the SQL that created the dept_manager table. Write the SQL it takes to show this as your exercise solution.

<hr style="border:2px solid gray">

#### #3. List all the databases

SHOW DATABASES;

#### #4. Write the SQL code necessary to use the albums_db database

USE albumbs_db;

#### #5. Show the currently selected database

SELECT database();

#### #6. List all tables in the database

SHOW TABLES;

#### #7. Write the SQL code to switch the employees database

USE employees;

#### #8. Show the currently selected database

SELECT database();

#### #9. List all the tables in the database

SHOW tables;

#### #10. Explore the employees table. What different data types are present on this table?

- <b>Option 1</b>:
SHOW CREATE database employees;

- <b>Option 2</b>:
DESCRIBE employees;

- <b>Option 3</b>: 
Go to employees database and look at 'structure'

#### #11. Which table(s) do you think contain a numeric type column? (Write this question and your answer in a comment)

<div class="alert alert-block alert-info">
<b>Remember:</b> Numeric type columns include:

<br>

<u>INT</u>:  Any number without a decimal point.
<br>
<u>FLOAT</u>: A number with decimal values.
<br>
<u>DECIMAL(length, precision)</u>: A precise decimal number.  Length is the total number of digits that will be stored for a value, and precision is the number of digits after the decimal place.
</div>

Available tables within employees:
- departments
- dept_emp
- dept_manager
- employees
- salaries
- titles

Answer:
- ALL OF THEM (due to the primary key)

#### #12. Which table(s) do you think contain a string type column? (Write this question and your answer in a comment)

<div class="alert alert-block alert-info">
<b>Remember:</b> String type columns include:

<br>

<u>CHAR(length)</u>: A string with a fixed number of characters, where length can be from 1 to 255.
<br>
<u>VARCHAR(length)</u>: A string where the length could vary from 256 - 65,535 characters.
<br>
<u>TEXT</u> — A large block of characters than can be any length
</div>

- departments
- dept_emp
- dept_manager
- employees
- title

#### #13. Which table(s) do you think contain a date type column? (Write this question and your answer in a comment)

<div class="alert alert-block alert-info">
<b>Remember:</b> Date type columns include:
<br>

<u>DATE</u> — A date value without any time. Typically MySQL displays dates as YYYY-MM-DD.
<br>
<u>TIME</u> — A time down to the seconds. MySQL uses 24-hour times.
<br>
<u>DATETIME</u> — A combined date and time value. 
</div>

- dept_emp
- dept_manager
- employees
- salaries 
- title

#### #14. What is the relationship between the employees and the departments tables? (Write this question and your answer in a comment)

There is no DIRECT connection between the two tables
<br>

- ```employees``` table has the following columns: 
    - emp_no
    - birth_date
    - first_name
    - last_name
    - gender
    - hire_date


- ```department``` tables has the following columns:
    - dept_no
    - dept_name
<br>

BUT we can use other tables to join these tables together!

#### #15. Show the SQL that created the dept_manager table. Write the SQL it takes to show this as your exercise solution.

SHOW CREATE TABLE dept_manager;

<b>the query returned is</b>:

CREATE TABLE `dept_manager` (
  `emp_no` int NOT NULL,
  `dept_no` char(4) NOT NULL,
  `from_date` date NOT NULL,
  `to_date` date NOT NULL,
  PRIMARY KEY (`emp_no`,`dept_no`),
  KEY `dept_no` (`dept_no`),
  CONSTRAINT `dept_manager_ibfk_1` FOREIGN KEY (`emp_no`) REFERENCES `employees` (`emp_no`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `dept_manager_ibfk_2` FOREIGN KEY (`dept_no`) REFERENCES `departments` (`dept_no`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=latin1