# Order By Exercises

<hr style="border:2px solid gray">

1. Copy the order by exercise and save it as functions_exercises.sql.

2. Write a query to to find all employees whose last name starts and ends with 'E'. Use concat() to combine their first and last name together as a single column named full_name.

3. Convert the names produced in your last query to all uppercase.

4. Use a function to determine how many results were returned from your previous query.

5. Find all employees hired in the 90s and born on Christmas. Use datediff() function to find how many days they have been working at the company (Hint: You will also need to use NOW() or CURDATE()),

6. Find the smallest and largest current salary from the salaries table.

7. Use your knowledge of built in SQL functions to generate a username for all of the employees. A username should be all lowercase, and consist of the first character of the employees first name, the first 4 characters of the employees last name, an underscore, the month the employee was born, and the last two digits of the year that they were born.

<hr style="border:0.5px solid black">
<hr style="border:0.5px solid black">

<b>1. Copy the order by exercise and save it as functions_exercises.sql.

In [ ]:
USE employees;

<hr style="border:1px solid black">

<b>2.Write a query to to find all employees whose last name starts and ends with 'E'. Use concat() to combine their first and last name together as a single column named full_name.

In [ ]:
SELECT CONCAT(first_name," ", last_name) as full_name
FROM employees
WHERE last_name like 'e%e';

<hr style="border:1px solid black">

<b>3. Convert the names produced in your last query to all uppercase.

In [ ]:
SELECT UPPER (CONCAT(first_name," ",last_name)) as full_name
FROM employees
WHERE last_name like 'e%e';

<hr style="border:1px solid black">

<b>4. Use a function to determine how many results were returned from your previous query.

In [ ]:
SELECT COUNT(*)
FROM employees
WHERE last_name like 'e%e';

<hr style="border:0.5px solid grey">

<b>5. Find all employees hired in the 90s and born on Christmas. Use datediff() function to find how many days they have been working at the company (Hint: You will also need to use NOW() or CURDATE()),

In [ ]:
SELECT first_name, 
    last_name, 
    DATEDIFF(CURDATE(), hire_date) as "days_with_company"
from employees
WHERE hire_date like '199%' 
AND birth_date like '%-12-25';

In [ ]:
SELECT first_name, 
    last_name, 
    DATEDIFF(NOW(), hire_date) AS "days_with_company"
FROM employees
WHERE hire_date LIKE '199%' 
AND birth_date LIKE '%-12-25';

<hr style="border:1px solid black">

<b>6. Find the smallest and largest current salary from the salaries table.

In [ ]:
SELECT MIN(salary), MAX(salary) 
FROM salaries;

In [ ]:
SELECT MIN(salary), MAX(salary)
FROM salaries
Where to_date > from_date;

<hr style="border:0.5px solid grey">

<b>7. Use your knowledge of built in SQL functions to generate a username for all of the employees. A username should be all lowercase, and consist of the first character of the employees first name, the first 4 characters of the employees last name, an underscore, the month the employee was born, and the last two digits of the year that they were born.

In [ ]:
SELECT 
    LOWER(
        CONCAT(
            SUBSTR(first_name, 1, 1),
            SUBSTR(last_name, 1, 4),
            '_',
            SUBSTR(birth_date, 6, 2),
            SUBSTR(birth_date, 3, 2)
        )
    ) AS username,
    first_name,
    last_name,
    birth_date
FROM
    employees;

In [ ]:
SELECT 
    LOWER(
        CONCAT(
            LEFT(first_name, 1),
            LEFT(last_name, 4),
            '_',
            SUBSTR(birth_date, 6, 2),
            SUBSTR(birth_date, 3, 2)
        )
    ) AS username,
    first_name,
    last_name,
    birth_date
FROM
    employees
LIMIT 10;

In [ ]:
SELECT 
    LOWER(
        CONCAT(
            SUBSTR(first_name, 1, 1),
            SUBSTR(last_name, 1, 4),
            '_',
            date_format(birth_date, '%m%y')
        )
    ) AS username,
    first_name,
    last_name,
    birth_date
FROM
    employees
LIMIT 10;