# Join Exercises

<hr style="border:2px solid gray">

### Join Example Database

1. Use the ```join_example_db```. Select all the records from both the users and roles tables.

2. Use join, left join, and right join to combine results from the ```users``` and ```roles``` tables as we did in the lesson. Before you run each query, guess the expected number of results.

3. Although not explicitly covered in the lesson, aggregate functions like count can be used with join queries. Use count and the appropriate join type to get a list of roles along with the number of users that has the role. Hint: You will also need to use ```group by``` in the query.

### Employees Database

1. Use the employees database.

2. Using the example in the Associative Table Joins section as a guide, write a query that shows each department along with the name of the current manager for that department.

3. Find the name of all departments currently managed by women.

4. Find the current titles of employees currently working in the Customer Service department.

5. Find the current salary of all current managers.

6. Find the number of current employees in each department.

7. Which department has the highest average salary? Hint: Use current not historic information.
    
8. Who is the highest paid employee in the Marketing department?

9. Which current department manager has the highest salary?

10. Determine the average salary for each department. Use all salary information and round your results.

11. Bonus Find the names of all current employees, their department name, and their current manager's name.

<hr style="border:0.5px solid black">
<hr style="border:0.5px solid black">

## Join Example Database

<b>1. Use the ```join_example_db```. Select all the records from both the users and roles tables.

In [ ]:
USE join_example_db;

We are returned two tables: roles and users

In [ ]:
#take a look at the roles table
SELECT *
FROM roles;

```roles``` has two columns: id and name

In [ ]:
DESCRIBE roles;

We can see that ```id``` is the primary key

In [ ]:
#now, take a look at the users table
SELECT *
FROM users;

```users``` has four columns: id, name, email, role_id

In [ ]:
DESCRIBE users;

We can see that ```id``` is the primary key here as well

<hr style="border:0.5px solid grey">

<b>2. Use join, left join, and right join to combine results from the ```users``` and ```roles``` tables as we did in the lesson. Before you run each query, guess the expected number of results.

In [ ]:
#join
SELECT *
FROM users
JOIN roles ON users.role_id = roles.id;

In [ ]:
#left join
SELECT *
FROM users
left JOIN roles ON users.role_id = roles.id;

Now, we are seeing that there are null values from the right table in rows 5 and 6

In [ ]:
#right join
SELECT *
FROM users
right JOIN roles ON users.role_id = roles.id

Also, we are seeing that there are null values from the left table in row 5

<hr style="border:0.5px solid grey">

<b>3. Although not explicitly covered in the lesson, aggregate functions like count can be used with join queries. Use count and the appropriate join type to get a list of roles along with the number of users that has the role. Hint: You will also need to use ```group by``` in the query.

In [ ]:
SELECT count(*), roles.name
FROM users
JOIN roles ON users.role_id = roles.id
GROUP BY roles.name;

<hr style="border:1px solid black">

## Employees Database

<b>1. Use the employees database.

In [ ]:
USE employees;

<hr style="border:0.5px solid grey">

<b>2. Using the example in the Associative Table Joins section as a guide, write a query that shows each department along with the name of the current manager for that department.

In [ ]:
#example join 'on'
SELECT dept_name AS 'Department Name', CONCAT(e.first_name, ' ', e.last_name) AS 'Department Manager'
FROM departments AS d
    JOIN dept_manager as dm ON d.dept_no = dm.dept_no
    JOIN employees AS e ON dm.emp_no = e.emp_no
WHERE to_date > NOW()
ORDER BY dept_name;

In [ ]:
#example joining with 'using'
SELECT dept_name AS 'Department Name', CONCAT(e.first_name, ' ', e.last_name) AS 'Department Manager'
FROM departments AS d
    JOIN dept_manager AS dm USING (dept_no)
    JOIN employees AS e USING (emp_no)
WHERE to_date > NOW()
ORDER BY dept_name;

<hr style="border:0.5px solid grey">

<b>3. Find the name of all departments currently managed by women.

In [ ]:
SELECT dept_name AS 'Department Name', CONCAT(first_name, ' ', last_name) AS 'Manager Name'
FROM departments AS d
    JOIN dept_manager AS dm ON d.dept_no = dm.dept_no
    JOIN employees AS e ON dm.emp_no = e.emp_no
WHERE to_date > NOW() AND gender LIKE 'F'
ORDER BY dept_name;

<hr style="border:0.5px solid grey">

<b>4. Find the current titles of employees currently working in the Customer Service department.

In [ ]:
#join with 'on'
SELECT title AS Title, count(*) AS Count
FROM departments AS d
    JOIN dept_emp AS de ON d.dept_no = de.dept_no
    JOIN employees AS e ON de.emp_no = e.emp_no
    JOIN titles AS t ON e.emp_no = t.emp_no
WHERE dept_name LIKE 'Customer Service' AND de.to_date > NOW() AND t.to_date > NOW()
GROUP BY title
ORDER by title;

In [ ]:
#join with 'using'
SELECT title AS Title, count(*) AS Count
FROM departments AS d
    JOIN dept_emp AS de USING (dept_no)
    JOIN employees AS e USING(emp_no)
    JOIN titles AS t USING(emp_no)
WHERE dept_name LIKE 'Customer Service' AND de.to_date > NOW() AND t.to_date > NOW()
GROUP BY title
ORDER by title;

In [ ]:
#joining to titles first instead of departments
SELECT title, COUNT(*)
FROM titles
    JOIN dept_emp ON titles.emp_no = dept_emp.emp_no
    JOIN departments ON departments.dept_no = dept_emp.dept_no
WHERE dept_emp.to_date > NOW()
AND titles.to_date > NOW()
AND dept_name = 'Customer Service'
GROUP BY title
ORDER by title;

<hr style="border:0.5px solid grey">

<b>5. Find the current salary of all current managers.

In [ ]:
SELECT dept_name AS 'Department Name', CONCAT(first_name, ' ', last_name) AS 'Name', salary AS Salary
FROM departments
    JOIN dept_manager ON departments.dept_no = dept_manager.dept_no
    JOIN employees ON dept_manager.emp_no = employees.emp_no
    JOIN salaries ON employees.emp_no = salaries.emp_no
WHERE dept_manager.to_date > NOW() AND salaries.to_date > NOW()
ORDER BY dept_name;

<hr style="border:0.5px solid grey">

<b>6. Find the number of current employees in each department.

In [ ]:
SELECT dept_emp.dept_no,dept_name, count(*) AS num_employees
FROM dept_emp
    JOIN departments ON dept_emp.dept_no = departments.dept_no
WHERE dept_emp.to_date > NOW()
GROUP BY dept_emp.dept_no, dept_name
ORDER BY dept_no;

<hr style="border:0.5px solid grey">

<b>7. Which department has the highest average salary? Hint: Use current not historic information.

In [ ]:
SELECT dept_name, AVG(salary) AS average_salary
FROM departments
    JOIN dept_emp ON departments.dept_no = dept_emp.dept_no
    JOIN employees ON dept_emp.emp_no = employees.emp_no
    JOIN salaries ON employees.emp_no = salaries.emp_no
WHERE dept_emp.to_date > NOW() AND salaries.to_date > NOW()
GROUP BY dept_name
ORDER BY average_salary DESC
LIMIT 1;

In [ ]:
SELECT dept_name, AVG(salary) AS average_salary
FROM departments
    JOIN dept_emp ON departments.dept_no = dept_emp.dept_no
    JOIN salaries ON dept_emp.emp_no = salaries.emp_no
WHERE dept_emp.to_date > NOW() AND salaries.to_date > NOW()
GROUP BY dept_name
ORDER BY average_salary DESC
LIMIT 1;

<b>Answer</b>: Sales with average salary of $88,853

<hr style="border:0.5px solid grey">

<b>8. Who is the highest paid employee in the Marketing department?

In [ ]:
SELECT first_name, last_name
FROM salaries
    JOIN employees ON salaries.emp_no = employees.emp_no
    JOIN dept_emp ON employees.emp_no = dept_emp.emp_no
    JOIN departments ON dept_emp.dept_no = departments.dept_no
WHERE dept_name LIKE 'Marketing'
ORDER BY salary DESC
LIMIT 1;

<b>Answer</b>: Akemi Warwick

<hr style="border:0.5px solid grey">

<b>9. Which current department manager has the highest salary?

In [ ]:
SELECT first_name, last_name, salary, dept_name
FROM salaries
    JOIN employees ON salaries.emp_no = employees.emp_no
    JOIN dept_manager ON employees.emp_no = dept_manager.emp_no
    JOIN departments ON dept_manager.dept_no = departments.dept_no
WHERE dept_manager.to_date > NOW() AND salaries.to_date > NOW()
ORDER BY salary DESC
LIMIT 1;

<b>Answer</b>: Vishwani Minakawa with a salary of $106K from Marketing

<hr style="border:0.5px solid grey">

<b>10. Determine the average salary for each department. Use all salary information and round your results.

In [ ]:
SELECT d.dept_name, ROUND(AVG(s.salary),0) AS avg_dept_salary
FROM departments d
    JOIN dept_emp de USING (dept_no)
    JOIN salaries s USING (emp_no)
GROUP BY d.dept_name
ORDER BY avg_dept_salary DESC;

<hr style="border:0.5px solid grey">

<div class="alert alert-block alert-info">
<b>Remeber:</b> 
    You can use "USING" instead of "ON" to join tables together <b><u>only</u></b> if the column is the same exact name on both tables. Otherwise, we can stick to using "ON".
</div>

<hr style="border:1px solid black">

<b>11. BONUS: Find the names of all current employees, their department name, and their current manager's name.

In [ ]:
SELECT CONCAT(employees.first_name, " ", employees.last_name) AS "Employee Name", dept_name AS "Department Name", CONCAT(managers.first_name, " ", managers.last_name) as "Manager Name" 
FROM employees AS managers 
    JOIN dept_manager USING(emp_no)
    JOIN departments USING(dept_no)
    JOIN dept_emp USING(dept_no)
    JOIN employees ON dept_emp.emp_no = employees.emp_no
WHERE dept_manager.to_date > NOW()
AND dept_emp.to_date > NOW()
ORDER BY dept_name;

<hr style="border:0.5px solid grey">