# Limit Exercises

<hr style="border:2px solid gray">

1. Create a new SQL script named limit_exercises.sql.

2. MySQL provides a way to return only unique results from our queries with the keyword DISTINCT. For example, to find all the unique titles within the company, we could run the following query:


SELECT DISTINCT title FROM titles;
List the first 10 distinct last name sorted in descending order.

3. Find all previous or current employees hired in the 90s and born on Christmas. Find the first 5 employees hired in the 90's by sorting by hire date and limiting your results to the first 5 records. Write a comment in your code that lists the five names of the employees returned.

4. Try to think of your results as batches, sets, or pages. The first five results are your first page. The five after that would be your second page, etc. Update the query to find the tenth page of results.

LIMIT and OFFSET can be used to create multiple pages of data. What is the relationship between OFFSET (number of results to skip), LIMIT (number of results per page), and the page number?

<hr style="border:0.5px solid black">
<hr style="border:0.5px solid black">

<b>1. Create a new SQL script named limit_exercises.sql.

In [ ]:
USE employees;
SELECT database();
SHOW tables;

<b> 2a. For example, to find all the unique titles within the company, we could run the following query:
SELECT DISTINCT title FROM titles;

In [ ]:
#see what titles are returned
SELECT *
FROM titles;

In [ ]:
#List the distinct values titles
SELECT DISTINCT title
FROM titles;

<b>2b. List the first 10 distinct last name sorted in descending order.

In [ ]:
SELECT DISTINCT last_name
FROM employees
ORDER BY last_name DESC
LIMIT 10;

<b>Answer</b>: 
- Zykh
- Zyda
- Zwicker
- Zweizig
- Zumaque
- Zultner
- Zucker
- Zuberek
- Zschoche
- Zongker

<b>3. Find all previous or current employees hired in the 90s and born on Christmas. Find the first 5 employees hired in the 90's by sorting by hire date and limiting your results to the first 5 records. Write a comment in your code that lists the five names of the employees returned.

In [ ]:
SELECT first_name, last_name, hire_date
FROM employees
WHERE hire_date like '199%' 
AND birth_date like '%-12-25'
ORDER BY hire_date
limit 5;

<b>Answer</b>: 
- Alselm Cappello
- Utz Mandell
- Bouchung Schreiter
- Baocai Kushner
- Petter Stroustrup

<b>4. Try to think of your results as batches, sets, or pages. The first five results are your first page. The five after that would be your second page, etc.

- Page 1 -> LIMIT = 5, OFFSET = 0, Records 1-5
- Page 2 -> LIMIT = 5, OFFSET = 5, Records 6-10
-           Page 3 -> LIMIT = 5, OFFSET = 10, Records 11-15
...
- Page # * Limit = offset for next page.
- Page 9 * 5 = 45, so page 10 is offset 45 or 9 pages with limits of 5 each.

<b> 4a. Update the query to find the tenth page of results.

In [ ]:
SELECT first_name, last_name, hire_date
FROM employees
WHERE hire_date LIKE '199%'
AND birth_date LIKE '%-12-25'
ORDER BY hire_date
LIMIT 5 OFFSET 45;

<b>Answer</b>:
- Pranay Narwekar
- Marjo Farrow
- Ennio Karcich
- Dines Lubachevsky
- Ipke Fontan

<b>4b. LIMIT and OFFSET can be used to create multiple pages of data. What is the relationship between OFFSET (number of results to skip), LIMIT (number of results per page), and the page number?

<b>Answer</b>:
If I want page 10, the formula could be something like this...
- (Page - 1) * Limit = Offset
- (10-1)   *   5   = 45