# Order By Exercises

<hr style="border:2px solid gray">

1. Create a new file named order_by_exercises.sql and copy in the contents of your exercise from the previous lesson.

2. Find all employees with first names 'Irena', 'Vidya', or 'Maya', and order your results returned by first name. In your comments, answer: What was the first and last name in the first row of the results? What was the first and last name of the last person in the table?

3. Find all employees with first names 'Irena', 'Vidya', or 'Maya', and order your results returned by first name and then last name. In your comments, answer: What was the first and last name in the first row of the results? What was the first and last name of the last person in the table?

4. Find all employees with first names 'Irena', 'Vidya', or 'Maya', and order your results returned by last name and then first name. In your comments, answer: What was the first and last name in the first row of the results? What was the first and last name of the last person in the table?

5. Write a query to to find all employees whose last name starts and ends with 'E'. Sort the results by their employee number. Enter a comment with the number of employees returned, the first employee number and their first and last name, and the last employee number with their first and last name.

6. Write a query to to find all employees whose last name starts and ends with 'E'. Sort the results by their hire date, so that the newest employees are listed first. Enter a comment with the number of employees returned, the name of the newest employee, and the name of the oldest employee.

7. Find all employees hired in the 90s and born on Christmas. Sort the results so that the oldest employee who was hired last is the first result. Enter a comment with the number of employees returned, the name of the oldest employee who was hired last, and the name of the youngest employee who was hired first.

<hr style="border:0.5px solid black">
<hr style="border:0.5px solid black">

<b>1. Create a new file named order_by_exercises.sql and copy in the contents of your exercise from the previous lesson.

In [ ]:
USE employees;

<hr style="border:1px solid black">

<b>2. Find all employees with first names 'Irena', 'Vidya', or 'Maya', and order your results returned by first name.

<b>a. What was the first and last name in the first row of the results?

In [ ]:
SELECT *
FROM employees
WHERE first_name IN ('Irena', 'Vidya', 'Maya')
ORDER BY first_name;

<b>Answer</b>: Irena Reutenauer

<b>b. What was the first and last name of the last person in the table?

In [ ]:
SELECT *
FROM employees
WHERE first_name IN ('Irena', 'Vidya', 'Maya')
ORDER BY first_name DESC;

<b>Answer</b>: Vidya  Awden

<hr style="border:1px solid black">

<b>3. Find all employees with first names 'Irena', 'Vidya', or 'Maya', and order your results returned by first name and then last name.

<b>a. What was the first and last name in the first row of the results?

In [ ]:
SELECT *
FROM employees
WHERE first_name IN ('Irena', 'Vidya', 'Maya')
ORDER BY first_name, last_name;

<b>Answer</b>: Irena Acton

<b>b. What was the first and last name of the last person in the table?

In [ ]:
SELECT *
FROM employees
WHERE first_name IN ('Irena', 'Vidya', 'Maya')
ORDER BY first_name DESC, last_name DESC;

<b>Answer</b>: Vidya Zweizig

<hr style="border:1px solid black">

<b>4. Find all employees with first names 'Irena', 'Vidya', or 'Maya', and order your results returned by last name and then first name.

<b>a. What was the first and last name in the first row of the results?

In [ ]:
SELECT *
FROM employees
WHERE first_name IN ('Irena', 'Vidya', 'Maya')
ORDER BY last_name, first_name;

<b>Answer</b>: Irena Acton

<b>b. What was the first and last name of the last person in the table?

In [ ]:
SELECT *
FROM employees
WHERE first_name IN ('Irena', 'Vidya', 'Maya')
ORDER BY last_name DESC, first_name DESC;

<b>Answer</b>: Maya Zyda

<hr style="border:0.5px solid grey">

<b>5. Write a query to to find all employees whose last name starts and ends with 'E'. Sort the results by their employee number.

In [ ]:
SELECT *
FROM employees
WHERE last_name like 'e%e'
order by emp_no;

<b>a. Enter a comment with the number of employees returned

<b>Answer</b>: 899 returned

<b>b. The first employee number and their first and last name

<b>Answer</b>: Ramzi Erde #10021

<b>c. The last employee number with their first and last name

In [ ]:
SELECT *
FROM employees
WHERE last_name like 'e%e'
order by emp_no DESC;

<b>Answer</b>: Tadhiro Erde #499648

<hr style="border:1px solid black">

<b>6. Write a query to to find all employees whose last name starts and ends with 'E'. Sort the results by their hire date, so that the newest employees are listed first.

<b>a. The number of employees returned

In [ ]:
SELECT *
FROM employees
WHERE last_name like 'e%e'
order by hire_date DESC;

<b>Answer</b>: 899 returned

<b>b. The name of the newest employee.

In [ ]:
SELECT *
FROM employees
WHERE last_name like 'e%e'
order by hire_date DESC;

<b>Answer</b>: Teiji Eldridge

<b>c. The name of the oldest employee

In [ ]:
SELECT *
FROM employees
WHERE last_name like 'e%e'
order by hire_date ASC;

In [ ]:
SELECT *
FROM employees
WHERE last_name like 'e%e'
order by hire_date;

<b>Answer</b>: Sergi Erde

<hr style="border:0.5px solid grey">

<b>7. Find all employees hired in the 90s and born on Christmas. Sort the results so that the oldest employee who was hired last is the first result.

In [ ]:
SELECT *
from employees
WHERE hire_date like '199%' and birth_date like '%-12-25'
ORDER BY birth_date, hire_date DESC;

<b>a. The number of employees returned

<b>Answer</b>: 362 returned

<b>b. The name of the oldest employee who was hired last

In [ ]:
SELECT *
from employees
WHERE hire_date like '199%' and birth_date like '%-12-25'
ORDER BY birth_date, hire_date DESC;

<b>Answer</b>: Khun Bernini

<b>c. The name of the youngest employee who was hired first.

In [ ]:
SELECT *
from employees
WHERE hire_date like '199%' and birth_date like '%-12-25'
ORDER BY birth_date DESC, hire_date;

<b>Answer</b>: Douadi Pettis