# Clauses Exercises

<hr style="border:2px solid gray">

1. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya' using IN. What is the employee number of the top three results?

2. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya', as in Q2, but use OR instead of IN. What is the employee number of the top three results? Does it match the previous question?

3. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya', using OR, and who is male. What is the employee number of the top three results.

4. Find all unique last names that start with 'E'.

5. Find all unique last names that start or end with 'E'.

6. Find all unique last names that end with E, but does not start with E?

7. Find all unique last names that start and end with 'E'.

8. Find all current or previous employees hired in the 90s. Enter a comment with top three employee numbers.

9. Find all current or previous employees born on Christmas. Enter a comment with top three employee numbers.

10. Find all current or previous employees hired in the 90s and born on Christmas. Enter a comment with top three employee numbers.

11. Find all unique last names that have a 'q' in their last name.

12. Find all unique last names that have a 'q' in their last name but not 'qu'.

<hr style="border:1px solid black">
<hr style="border:1px solid black">

<b>1. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya' using IN. What is the employee number of the top three results?

In [ ]:
SELECT *
FROM employees
WHERE first_name IN ('Irena', 'Vidya', 'Maya');

- <b>Answer</b>: 10200, 10397, 10610

<hr style="border:0.5px solid grey">

<b>2. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya' (as in question 1) but use OR instead of IN. What is the employee number of the top three results? Does it match the previous question?

In [ ]:
SELECT *
FROM employees
WHERE first_name = 'Irena' 
    OR first_name = 'Vidya' 
    OR first_name =  'Maya';

- <b>Answer</b>: 10200, 10397, 10610
    - yes, they do match. In this instance, you can only have one first name.

<hr style="border:0.5px solid grey">

<b>3. Find all current or previous employees with first names 'Irena', 'Vidya', or 'Maya', using OR, and who is male. What is the employee number of the top three results.

In [ ]:
SELECT *
FROM employees
WHERE gender = 'M'
AND 
    (first_name = 'Irena' 
     OR first_name = 'Vidya' 
     OR first_name = 'Maya');

In [ ]:
SELECT *
FROM employees
WHERE 
    (first_name = 'Irena' 
     OR first_name = 'Vidya' 
     OR first_name = 'Maya')
AND gender = 'M';

<hr style="border:0.5px solid grey">

<b>4. Find all unique last names that start with 'E'.

In [ ]:
SELECT DISTINCT last_name
FROM employees 
WHERE last_name LIKE 'E%';

<hr style="border:0.5px solid grey">

<b>5. Find all unique last names that start <u>or</u> end with 'E'.

In [ ]:
SELECT DISTINCT last_name
FROM employees 
WHERE last_name LIKE 'E%' 
OR last_name LIKE '%E';

<hr style="border:0.5px solid grey">

<b>6. Find all unique last names that end with E, but does not start with E?

In [ ]:
SELECT DISTINCT last_name
FROM employees 
WHERE last_name LIKE '%E' 
AND NOT last_name LIKE 'E%';

<hr style="border:0.5px solid grey">

<b>7. Find all unique last names that start <u>and</u> end with 'E'.

In [ ]:
SELECT *
FROM employees 
WHERE last_name LIKE 'E%' 
AND last_name LIKE '%E';

In [ ]:
SELECT DISTINCT last_name
FROM employees 
WHERE last_name LIKE 'E%E'

<hr style="border:0.5px solid grey">

<b>8. Find all current or previous employees hired in the 90s. Enter a comment with top three employee numbers.

In [ ]:
SELECT *
FROM employees 
WHERE hire_date LIKE '199%';

In [ ]:
SELECT * 
FROM employees
WHERE hire_date BETWEEN '1990-01-01' AND '1999-12-31';

<hr style="border:0.5px solid grey">

<b>9. Find all current or previous employees born on Christmas. Enter a comment with top three employee numbers.

In [ ]:
SELECT *
FROM employees
WHERE birth_date LIKE '%-12-25';

<hr style="border:0.5px solid grey">

<b>10. Find all current or previous employees hired in the 90s and born on Christmas. Enter a comment with top three employee numbers.

In [ ]:
SELECT *
FROM employees
WHERE hire_date LIKE '199%' and birth_date LIKE '%-12-25';

<hr style="border:0.5px solid grey">

<b>11. Find all unique last names that have a 'q' in their last name.

In [ ]:
SELECT DISTINCT last_name
FROM employees
WHERE last_name LIKE '%q%'SELECT DISTINCT last_name
FROM employees
WHERE last_name LIKE '%q%'
AND NOT last_name like '%qu%';

<hr style="border:0.5px solid grey">

<b>12. Find all unique last names that have a 'q' in their last name but not 'qu'.

In [ ]:
SELECT DISTINCT last_name
FROM employees
WHERE last_name LIKE '%q%'
AND NOT last_name like '%qu%';